
/* Contenedor principal */
.container {
    display: grid;
    border: 1px solid gray;
    border-radius: 5px;
}
.container > * {
    border: 1px solid violet;
    border-radius: 5px;
    margin: 5px;
}
.container .container-title {
    text-align: center;
}

.edit-controls div.button-container {
    display: flex;
    justify-content: center;
}

.edit-controls div button {
    margin: auto .5rem;
}

.content {
    font-family: sans-serif;
    outline: none;
}

.content-title {
    text-align: center;
}

.content-paragraph {
    margin: .5rem 2rem;
}